<!-- Write an AngularJS program to create a simple CRUD application (Create, Read, Update, and Delete) for managing users. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="lib.js"></script>
</head>
<body ng-app = "myApp" ng-controller="myctrl">
    <script>
    var app = angular.module('myApp', []);
    app.controller('myctrl', function ($scope) {
        $scope.students = [];
        $scope.add = function(){
            if ($scope.name && $scope.age){
            $scope.students.push({name: $scope.name,age: $scope.age,email: $scope.email});
            $scope.name = '';
            $scope.age = '';
            $scope.email = '';
            };
        };
        $scope.delete = function($index){
            var confirmDel = confirm("are u sure");
            if(confirmDel)
                $scope.students.splice($index,1)
        };
        $scope.edit = function($index){
            var uname = prompt('enter name');
            var uage = parseInt(prompt('enter age'));
            var uemail  = prompt('enter email');
            if(uname && uage && uemail){
                var ustudent = { name: uname, age: uage,email : uemail};
                $scope.students.splice($index, 1,ustudent);
            }
            else{
                alert("edit failed!!! insert all values")
            }
            
        };
    });
    </script>
    <input type="text" ng-model="name" placeholder="name">
    <input type="number" ng-model="age" placeholder="age">
    <input type="text" ng-model="email" placeholder="email">
    <button ng-click="add()">submit</button>
    <ul>
        <li ng-repeat="i in students">{{i.name}} {{i.age}} {{i.email}}
            <button ng-click="edit($index)">edit</button>
            <button ng-click="delete($index)">delete</button>
        </li>
    </ul>
</body>
</html>
